# Fotos originais nao usadas no HTML
2026/Fotos/Trofeus/Image.jpg
2026/Fotos/Trofeus/Image (1).jpg
2026/Fotos/Trofeus/Image (2).jpg
2026/Fotos/Trofeus/Image (3).jpg
2026/Fotos/Lument It/
2026/Fotos/Vetor It/
# Sistema
Thumbs.db
.DS_Store
*.ps1
